@model TP_NT_Taller_Meacanico.Models.WorkshopIndex

@{

    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Mechanical Workshop <strong>@Model.name</strong></h1>
    </div>
</div>
<div class="container">
    <h2>Orders</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>ID</th>
                <th>Telephone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.clients)
            {
                <tr>
                    <td>@client.name</td>
                    <td>@client.personal_id</td>
                    <td>@client.telephone</td>
                    <td>@client.address</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container">
    <!--TODO revisar este caso porque segun el tutorial hay otra forma de hacer los links, esto no deberia funcionar
        Sino podria usar la forma posta y copiar los estilos del bootstrap-->
    @Html.ActionLink("Client menu", "ClientMenu", "Client")
</div>