@model TP_NT_Taller_Meacanico.Models.WorkshopInfo

@{

    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Mechanical Workshop <strong>@Model.name</strong></h1>
    </div>
</div>
<div class="container">
    <h2>Orders</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Oder ID</th>
                <th>Creation Date</th>
                <th>Finish Date</th>
                <th>State</th>
                <th>Cliend ID</th>
                <th>Employee ID</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Plate Number</th>
                <th>Description</th>
                <th>Total</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.orders)
            {
                string dateCreated = TP_NT_Taller_Meacanico.Models.Utils.Util.GetSimpleDate(order.date_created);
                string dateEnded = TP_NT_Taller_Meacanico.Models.Utils.Util.GetSimpleDate(order.date_ended);
            <tr order_id="@order.id">
                <td>@order.id</td>
                <td>@dateCreated</td>
                <td>@dateEnded</td>
                <td>@order.state</td>
                <td>@order.client_id</td>
                <td>@order.employee_id</td>
                <td>@order.brand</td>
                <td>@order.model</td>
                <td>@order.plate_number</td>
                <td>@order.description</td>
                @if (order.total != null)
                {
                    <td>$@order.total</td>
                }
                else
                {
                    <td>@order.total</td>
                }
                <td></td>
                <td></td>
                <td>
                    <button id="autopartEdit" type="button" class="btn btn-default btn-sm">
                        <a href="Autopart/AutopartEdit?orderID=@order.id">
                            <span class="glyphicon glyphicon-pencil"></span> Autoparts Detail
                        </a>
                    </button>
                </td>
                <td>
                    <button id="orderCLose" type="button" class="btn btn-default btn-sm">
                        Close Order
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <button type="button" class="btn btn-default btn-sm">
        <a href="/Order/OrderForm">
            Add new order
        </a>
    </button>
</div>