@model TP_NT_Taller_Meacanico.Models.WorkshopInfo
@{
    ViewBag.Title = "ClientMenu";
}

<h2>ClientMenu</h2>

<div class="container">
    <h2>Clients</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>ID</th>
                <th>Telephone</th>
                <th>Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.clients)
            {
                <tr personal_id="@client.personal_id">
                    <td>@client.name</td>
                    <td>@client.personal_id</td>
                    <td>@client.telephone</td>
                    <td>@client.address</td>
                    <td>
                        <button id="clientEdit" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                    </td>
                    <td>
                        <button id="clientRemove" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <button id="autopartEdit" type="button" class="btn btn-default btn-sm">
        <a href="ClientForm">
            Add new client
        </a>
    </button>
</div>